//
// Core
//

@import "../../inc/uikit/src/less/components/_import.less";
@import "../../inc/components-font-awesome/less/font-awesome.less";
@import "inc/dataTables";
@import "inc/front";
@import "inc/fixes";

@fa-font-path:        "../inc/components-font-awesome/fonts";
//
// Colors
//

@global-color:                                  #FFF;
@global-emphasis-color:                         #EEE;
@global-muted-color:                            #CCC;

@global-link-color:                             #1e87f0;
@global-link-hover-color:                       #0f6ecd;

@global-inverse-color:                          #000;

//
// Backgrounds
//

@global-background:                             #000;

@global-muted-background:                       #f8f8f8;
@global-primary-background:                     #1e87f0;
@global-secondary-background:                   #999;

@global-success-background:                     #32d296;
@global-warning-background:                     #faa05a;
@global-danger-background:                      #f0506e;

//
// Box-Shadows
//

@global-small-box-shadow:                       0 2px 8px rgba(0,0,0,0.2);
@global-medium-box-shadow:                      0 5px 15px rgba(0,0,0,0.2);
@global-large-box-shadow:                       0 14px 25px rgba(0,0,0,0.35);
@global-xlarge-box-shadow:                      0 28px 50px rgba(0,0,0,0.35);

//
// Overlays
//
@overlay-default-background:                    fade(@global-background, 20%);

@overlay-primary-background:                    fade(@global-muted-background, 20%);
@overlay-primary-color-mode:                    light;

//
// Countdown
//
@countdown-item-line-height:                    35px;

@countdown-number-font-size:                    1rem; // 32px
@countdown-number-font-size-s:                  2rem; // 64px
@countdown-number-font-size-m:                  3rem; // 96px

@countdown-separator-font-size:                 0.5rem; // 16px
@countdown-separator-font-size-s:               1rem; // 32px
@countdown-separator-font-size-m:               1.5rem; // 48px

//
// Progress
//
@progress-height:                               20px;
@progress-background:                           rgba(0,0,0,0.2);
@progress-bar-background:                       rgba(255,255,255,0.6);

//
// Forms
//
@form-background:                               fade(@global-background, 20%);
