.uk-heading-line > *::before,
.uk-heading-line > *::after {
  top: calc(50% - (1px / 2));
}

@tooltip-background:  @global-color;

.uk-progress::-webkit-progress-value {
  border-radius: 5px;
}

.uk-progress::-moz-progress-bar {
  border-radius: 5px;
}

.uk-progress::-ms-fill {
  border-radius: 5px;
}

abbr{
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
  cursor: help;
}

code,
kbd,
samp {
  background-color: rgba(255,255,255,0.6);
  padding: 0 2px;
}

.uk-offcanvas-bar :not(pre)>code {
  color: @base-code-color; //#f00037;
  background-color: transparent;
  padding: 0;
}

.uk-modal,
.uk-modal-title,
.uk-tab>.uk-active>a,
.uk-tab>*>a:hover,
.uk-tab>*>a:focus {
  color: @global-inverse-color;
}

.uk-button-primary {
  border: @button-border-width solid @global-secondary-background;
}

@internal-divider-icon-image:                     "../inc/uikit/src/images/backgrounds/divider-icon.svg";
@internal-list-bullet-image:                      "../inc/uikit/src/images/backgrounds/list-bullet.svg";
@internal-form-select-image:                      "../inc/uikit/src/images/backgrounds/form-select.svg";
@internal-form-radio-image:                       "../inc/uikit/src/images/backgrounds/form-radio.svg";
@internal-form-checkbox-image:                    "../inc/uikit/src/images/backgrounds/form-checkbox.svg";
@internal-form-checkbox-indeterminate-image:      "../inc/uikit/src/images/backgrounds/form-checkbox-indeterminate.svg";
@internal-nav-parent-close-image:                 "../inc/uikit/src/images/backgrounds/nav-parent-close.svg";
@internal-nav-parent-open-image:                  "../inc/uikit/src/images/backgrounds/nav-parent-open.svg";
@internal-accordion-open-image:                   "../inc/uikit/src/images/backgrounds/accordion-open.svg";
@internal-accordion-close-image:                  "../inc/uikit/src/images/backgrounds/accordion-close.svg";