.uk-heading-line > *::before, .uk-heading-line > *::after {
  top: calc(50% - (1px / 2));
}

@tooltip-background:  @global-color;

.uk-progress::-webkit-progress-value {
  border-radius: 5px;
}

.uk-progress::-moz-progress-bar {
  border-radius: 5px;
}

.uk-progress::-ms-fill {
  border-radius: 5px;
}

abbr{
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
  cursor: help;
}
